#tetris {
    display: flex;
    flex-direction: column;
    overflow: hidden; 

}

#tetris * {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.t-tablero {
    min-width: 300px;
    min-height: 600px;
    /* margin:  10% 32% 18% 32%; */
    background-color: rgb(10, 10, 10);
    border-style: groove;
    border-width: 15px;
    user-select: none;
    position: absolute;
    display: flex;
    flex-direction: column;

    margin-left: 220px;
    margin-top: 100px;
}

.t-row {
    min-height: 30px;
    position: relative;
    margin: unset;
    padding-inline-start: unset;
    display: flex;
    list-style: none;
    flex-direction: row;
}

.t-tile, .t-tile-empty, .t-shadow {
      min-width: 30px;
      min-height: 30px;
      background-color: rgb(10, 10, 10);
      list-style: none;
}

.t-shadow {
    /*             inset? - shift right - shift down - spread - blur - color */
    z-index: 20;
    box-shadow: 
        inset 0px 0px 15px 9px rgba(250, 250, 250, 0.35),
        0px 0px 10px 5px rgba(242, 242, 242, 0.26);
}

.t-tile-empty {

}

.t-tile {
      min-width: 30px;
      min-height: 30px;
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden;
      background-size: cover;
}

.t-i{
    background-image: url( /assets/casilla-i.svg );
}
.t-o{
    background-image: url( /assets/casilla-o.svg );
}
.t-t{
    background-image: url( /assets/casilla-t.svg );
}
.t-s{
    background-image: url( /assets/casilla-s.svg );
}
.t-j{
    background-image: url( /assets/casilla-j.svg );
}
.t-z{
    background-image: url( /assets/casilla-z.svg );
}
.t-l{
    background-image: url( /assets/casilla-l.svg );
}

@font-face {
    font-family: tetris;
    src: url(assets/Tetris.ttf);
}

.t-countdown {
     position: absolute; 
     font-size: 10em;
     color: white;
     font-family: Tetris;
     margin-top: 30px;
     margin-left: 100px;
     z-index: 10;
}

.t-count-points {
    position: relative; 
    font-size: 1.5em;
    color: white;
    font-family: Tetris;
    z-index: 10;
}

.t-contador {
    min-width: 150px;
    min-height: 50px;
    z-index: 20;
    background-color: rgb(10, 10, 10);
    border-style: groove;
    border-width: 15px;
    user-select: none;
    margin-left: 290px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.t-hold {
    z-index: 20;
    background-color: rgb(10, 10, 10);
    border-style: groove;
    border-width: 15px;
    user-select: none;

    margin-top: 100px;

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.t-next {
    z-index: 20;
    background-color: rgb(10, 10, 10);
    border-style: groove;
    border-width: 15px;
    user-select: none;

    margin-top: 100px;
    margin-left: 570px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.t-start, .t-resume {
    height: 70px;
    margin-top: 300px;
    width: 180px;
    margin-left: 296px;
    z-index: 30;
}

.t-pause {
    width: 80px;
    height: 50px;
    margin-left: 500px;
    z-index: 30;
    margin-top: 20px;
}

.t-controls{
    position: absolute;
    margin-top: 250px;
    margin-left: 550px;
    display: flex;
    font-size: 18px;
    font-family: monospace;
    flex-direction: column;
    justify-content: flex-start;
    

    text-align: left;
}

.t-controls ul{
    padding-inline-start: 40px;
    list-style: none;
}

.t-controls li{
    list-style: none;
}

.t-controls h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-inline-start: 40px;
}
