#tetris {
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.t-tablero {
    min-width: 300px;
    min-height: 600px;
    /* margin:  10% 32% 18% 32%; */
    background-color: rgb(10, 10, 10);
    border-style: groove;
    border-width: 15px;
    user-select: none;
    position: absolute;
    display: flex;
    flex-direction: column;

    margin-left: 220px;
    margin-top: 100px;
}

.t-row {
    min-height: 30px;
    position: relative;
    margin: unset;
    padding-inline-start: unset;
    display: flex;
    list-style: none;
    flex-direction: row;
}

.t-tile, .t-tile-empty {
      min-width: 30px;
      min-height: 30px;
      background-color: rgb(10, 10, 10);
      list-style: none;
}

.t-tile-empty {

}

.t-tile {
      min-width: 30px;
      min-height: 30px;
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden;
      background-size: cover;
}

.t-i{
    background-image: url( /assets/casilla-i.svg );
}
.t-o{
    background-image: url( /assets/casilla-o.svg );
}
.t-t{
    background-image: url( /assets/casilla-t.svg );
}
.t-s{
    background-image: url( /assets/casilla-s.svg );
}
.t-j{
    background-image: url( /assets/casilla-j.svg );
}
.t-z{
    background-image: url( /assets/casilla-z.svg );
}
.t-l{
    background-image: url( /assets/casilla-l.svg );
}

@font-face {
    font-family: tetris;
    src: url(assets/Tetris.ttf);
}

.t-countdown {
     position: absolute; 
     font-size: 10em;
     color: white;
     font-family: Tetris;
     margin-top: 30px;
     margin-left: 100px;
     z-index: 10;
}

.t-count-points {
    position: relative; 
    font-size: 1.5em;
    color: white;
    font-family: Tetris;
    z-index: 10;
}

.t-contador {
    min-width: 150px;
    min-height: 50px;
    z-index: 20;
    background-color: rgb(10, 10, 10);
    border-style: groove;
    border-width: 15px;
    user-select: none;
    margin-left: 290px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.t-hold {
    z-index: 20;
    background-color: rgb(10, 10, 10);
    border-style: groove;
    border-width: 15px;
    user-select: none;

    margin-top: 100px;

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.t-next {
    z-index: 20;
    background-color: rgb(10, 10, 10);
    border-style: groove;
    border-width: 15px;
    user-select: none;

    margin-top: 100px;
    margin-left: 570px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}